.A, .AA, .AAA, .AAAA {
    width: 25%;
    display: inline-block;
    height: 100%;
}
.A{
    background-color:red;
}
.AA{
    background-color: green;
}
.AAA {
    background-color: blue;
}
.AAAA {
    background-color: black;
}







